body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
  }

  .logo-container {
    position: relative;
    width: 250px; /* Aumentado de 150px para 250px */
    height: 250px; /* Aumentado de 150px para 250px */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 7s linear infinite;
    transition: transform 0.6s ease-in-out;
    margin-bottom: 2rem;
  }

  .logo-container:hover {
    transform: scale(1.1);
  }

  .logo {
    width: 100%;
    height: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .buttons-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  /* Media query para dispositivos móveis */
  @media (max-width: 768px) {
    .buttons-container {
      flex-direction: column; /* Muda para direção coluna em telas pequenas */
      width: 80%; /* Controla a largura dos botões em mobile */
      max-width: 300px; /* Largura máxima para os botões */
    }

    .logo-container {
      width: 200px; /* Tamanho um pouco menor em mobile */
      height: 200px;
    }
  }

  .access-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    width: 100%; /* Faz os botões ocuparem toda a largura disponível */
  }

  .access-button:hover {
    background-color: #747474;
    color: #ffffff;
    text-decoration: none;
  }